<div id="TimerButtons" class="row">
	<div class="col-xs-3">
	  <a class="btn btn-link btn-lg hover-button" routerLink="/stopwatch"><i class="fa fa-clock-o fa-5x"></i></a>
	</div>

	<div class="col-xs-3">
	  <a class="btn btn-link btn-lg" routerLink="/timer"><i class="fa fa-sort-numeric-desc fa-5x"></i></a>
	</div>

	<div class="col-xs-3">         
	 <a class="btn btn-link btn-lg" routerLink="/interval"><i class="fa fa-area-chart fa-5x"></i></a>
	</div>

	<div class="col-xs-3">
	  &nbsp;
	</div>
</div>