<div id="Settings" class="container-fluid">
  <div class="row settingstext">
    <div class="col-xs-2 icon">
        <i class="fa fa-clock-o"><sub>1</sub></i>
    </div>
    <div class="col-xs-10 ">
      <selecttime [(value)]="settings.interval.timer1"></selecttime>
    </div>
  </div>

  <div class="row settingstext">
    <div class="col-xs-2 icon">
        <i class="fa fa-clock-o"><sub>2</sub></i>
    </div>
    <div class="col-xs-10 ">
      <selecttime [(value)]="settings.interval.timer2"></selecttime>
    </div>
  </div>

  <div class="row settingstext">
    <div class="col-xs-2 icon">
        <i class="fa fa-refresh"></i>
    </div>
    <div class="col-xs-10 ">
      <selecttime [showTicks]="true" [(value)]="settings.interval.rounds"></selecttime>
    </div>
  </div> 
</div>

<div class="footer navbar-fixed-bottom">
    <a class="btn btn-link pull-right btn-lg" (click)="close()" ><i class="fa fa-times fa-5x red"></i></a>
</div> 
